
h1, h2, h3 {
  color: slategray;
  text-align: center;
  font-style: italic;
  font-family: arial;
}

.error {
  color: tomato;
  background: lightslategray;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  padding-top: 13px;
  font-size: 20px;
  margin-bottom: 15px;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 20px;
}
